body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.webstudio {
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}

.studio {
  color: #2e2f42;
}

.studionav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.studio-change {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: #404bbf;
}

.studio-change::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.studionav:hover,
.studionav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.adress-list {
  display: flex;
  gap: 40px;
}
.adre_a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adre_a:hover,
.adre_a:focus {
  color: #404bbf;
}
.adre_a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adre_a:hover,
.adre_a:focus {
  color: #404bbf;
}
/* first section */
.first-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officetable.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
}

.first-section-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}
.first-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-button:hover,
.first-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* second section */
.second-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-section-item {
  width: calc((100% - 3 * 24px) / 4);
}
/* global */
.title-section-s {
  color: #2e2f42;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.p-section-s {
  color: #434455;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* third section */

.third-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.third-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.third-section-list {
  display: flex;
  gap: 24px;
}
.images-background {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-for-worker {
  padding-top: 32px;
  padding-bottom: 32px;
}
.third-section-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-emblem {
  width: 40px;
  height: 40px;
}
.emblem {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emblem:hover,
.emblem:focus {
  background-color: #404bbf;
}

.emblem-styles {
  fill: #f4f4fd;
}

.third-section-workers {
  color: #2e2f42;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.third-section-p {
  color: #434455;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* fourth section */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.fourth-section-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.fourth-section-item:hover p {
  transform: translateY(0%);
}

.container-for-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.pictures-container {
  position: relative;
  overflow: hidden;
}
.pictures-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-webstudio {
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
}
.p-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-media-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-right: 120px;
}

.social-item-footer {
  width: 40px;
  height: 40px;
}

.social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  background-color: #31d0aa;
}

.icon-styles {
  fill: #f4f4fd;
}

.text-subsribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.label-form {
  gap: 24px;
}

.container-for-subscribe {
  margin-left: 80px;
}

.email-style {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}


.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}



.icon-frame {
  margin-left: 16px;
}

/* etc */
li {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.fourth-section-item {
  width: calc((100% - 48px) / 3);
}
.second-section-item {
  flex-basis: calc((100% - 72px) / 4);
}

.container-first-section {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
button {
  margin: auto;
}
/* etc */
.icons-second-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.container-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf ;
  border: none;
  fill: #ffffff;
}




.icon-close {
 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-item {
  margin-bottom: 8px;
}

.name-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.icon-container {
  position: relative;
}

.user-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-item:focus {
  border-color: #4d5ae5;
}

.icon-person-black {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-item:focus + .icon-person-black {
  fill: #4d5ae5;
}

.fourt-container-form {
  margin-bottom: 16px;
}

.user-class {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-class:focus {
  border-color: #4d5ae5;
}

.fifth-container-form {
  margin-bottom: 24px;
}




.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center; /
}

.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-flex; 
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}






input:checked + label > span  {
  background-color: var(--background-checked, #404bbf);
  border: none;
  fill: var(--icon-color-checked, #f4f4fd);
}



.privacy-item {
  color: #4d5ae5;
  text-decoration-line: underline;
  margin-left: 4px; 
}

.send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;


padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}